.registerForm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

.registerForm :placeholder-shown{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.278);
    
}

.registerForm h4 {
    text-align: center;
}

.registerbtn {
    display: block;
    text-align: center;
    background-color: black;
    border: none;
    
}

.registerbtn:hover{
    display: block;
    text-align: center;
    background-color:  rgb(67, 38, 38);;
    border: none;
    
}

.registerbtn:active{
    display: block;
    text-align: center;
    background-color: rgb(67, 38, 38);;
    border: none;
    
}

.registerbtn:focus{
    display: block;
    text-align: center;
    background-color: rgb(67, 38, 38);;
    border: none;
    
}

.cardBodyRegis{
    border: 2px solid #c6c6c6;
    border-radius: 8px;
    margin: 5px;
    padding: 10px;
    width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.712);
    backdrop-filter: blur(7px);
  }
  
  .improve {
    background-image: url('../login/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 20px; /* Space between columns */
}

.registerbtn {
    display: block;
    text-align: center;
    background-color: black;
    margin-top: 1rem;
    border: none;
    width: 100%;
    
}

.registerbtn:hover{
    display: block;
    text-align: center;
    background-color:  rgb(67, 38, 38);
    border: none;
    
}

.registerbtn:active{
    display: block;
    text-align: center;
    background-color: rgb(67, 38, 38);;
    border: none;
    
}

.registerbtn:focus{
    display: block;
    text-align: center;
    background-color: rgb(67, 38, 38);;
    border: none;
    
}
